@font-face {
    font-family: 'Filson';
    src: url('../fonts/FilsonProBlack.otf');
    font-weight: 800;
}



@font-face {
    font-family: 'Filson';
    src: url('../fonts/FilsonProBold.otf');
    font-weight: 700;
}


@font-face {
    font-family: 'Filson';
    src: url('../fonts/FilsonProMedium.otf');
    font-weight: 500;
}


@font-face {
    font-family: 'Filson';
    src: url('../fonts/FilsonProRegular.otf');
    font-weight: 400;
}


body{
    position: relative;
}

.fixedDonatBtn{
    background-color: #87C770;
    position: fixed;
    bottom: 200px;
    right:0;
    border-radius: 50px 0px 0px 50px;
    padding:15px 25px;
    z-index: 99;
    width: 200px;
    transition: .4s;
    transform: translateX(125px);
    text-decoration: none;
}

.fixedDonatBtn img{
    width: 30%;
    height: 40px;
    object-fit: contain;
}

.fixedDonatBtn p{
    width: 70%;
    font-size: 20px;
    font-weight: 800;
    color:#fff;
    text-align: center;
}

.fixedDonatBtn:hover {
    transform: translateX(0px);
}



h1, h2, h3, h4, h5, h6,
p, a, select, option, button, ol, li, span,
::placeholder, input, td, th{
    font-family: 'Filson'!important;
    margin:0!important;
}


.socialIcon{
    position: absolute;
    left: 0;
}

.socialIcon i{
    color:#fff;
    font-size: 13px;
}


.main-navbar-sec{
    background-color: #fff;
    padding:0px 20px;
    box-shadow: 0px 5px 7px #0000003a;
    position: relative;
    z-index: 2;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
}
.nav-item.dropdown:hover .nav-link {
    text-decoration: none;
}


.desktop{
    display: flex;
}


.mobile{
    display: none!important;
}


.top-bar{
    background-color: #475662;
    z-index: 4;
    padding:15px 20px;
}


.top-bar .top-bar_inner{
    position: relative;
}


.top-bar p{
    margin: 0;
    color:#fff;
    font-size: 12px;
}


.top-bar a {
    color:#fff;
    font-size: 12px;
    text-decoration: none;
}

.navbar-brand img{
    width: 200px;
}


a button{
    background-color: transparent;
    border: none;
    color: #fff;
}

.mainBtn{
    background-color: #87C770;
    padding:15px;
    text-align: center;
    color:#fff;
    border-radius: 50px;
    text-decoration: none;
}


.donateBtn{
    width: 200px!important;
}


.bannerSec{
    background-image: url('../img/banner.webp');
    background-position: center center;
    background-size: cover;
    padding: 150px 20px;
    position: relative;
}

.bannerSec .container{
    position: relative;
    z-index: 1;
}

.bannerSec::before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 19%, rgba(0,0,0,1) 100%);
}


.bannerSec h1{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    color:#fff;
    line-height: 1em;
}

.bannerSec p{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color:#fff;
    line-height: 1.2em;
}


/* Search Section */


.searchInputSec{
    display: flex;
    margin-bottom: 30px;
}

.colInputSec{
    width: 85%;
}

.colInputSec form{
    width: 100%;
}

.chosen-container-multi .chosen-choices{
    padding:15px!important;
    border-radius: 5px!important;
    border: none!important;
    background-color: #F5F5F5!important;
    background-image: none!important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    font-size: 16px!important;
    width: 100%!important;
}



.searchBtn{
    width: 15%;
}

.searchSection{
    padding: 60px 20px;
}


.searchSection h2{
    font-size: 40px;
    font-weight: 600;
    color:#000;
}

.searchBtn button{
    background-color: #87C770;
    border: none;
    border-radius: 5px;
    padding:15px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn button i{
    font-size: 30px;
    color:#fff;
}


.chosen-container{
    width: 95%!important;
    max-width: 95%!important;
}


.chosen-container{
    width: 100%!important;
    max-width: 100%!important;
}


.custom-tabs{
    display: flex;
    gap:40px;
    list-style: none;
    padding: 0px;
}

.searcTab{
    display: flex;
}

.resultTabMenu, .viewSecBtnSec{
    width: 50%;
}


.searchResultSec{
    display: flex;
    flex-direction: column;
    gap:20px;
}




.custom-tabs .tab-link {
    color: #495057;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.custom-tabs .tab-link.active {
    color: #87C770;
    border-bottom: 2px solid;
    border-color: #87C770;
}

.tab-content p {
    border-top: none;
}


.viewSecBtnSec{
    display: flex;
    gap:30px;
    justify-content: flex-end;
    align-items: center;
}

.viewSecBtnSec h4{
    font-weight: 600;
    font-size: 20px;
}

.viewBtns button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.viewBtns{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-items: center;
}

.viewBtns i {
    font-size: 30px;
    color:#87C770;
}


.resultCard{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000036;
    width: 32%;
    background-color: #F7F7F8;
}

.topRltCrd{
    position: relative;
}

.topRltCrd img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}



/* List Card */

.listCards .resultCard{
    display: flex;
    width: 49%;
    gap:30px;
}

.listCards .topRltCrd{
    width: 30%;
}

.listCards .topRltCrd img{
    width: 100%;
    height: 150px;
}

.listCards .cardDetails{
    width: 70%;
    padding: 10px;
    justify-content: center;
}


.listCards{
    display: none;
    flex-wrap: wrap;
    gap:20px;
}

/* END List Card */

.rsltMap{
    display: none;
}

/* Map Result */





/* Inner Event Slider */

.homebanner .carousel-inner{
    position: relative;
    overflow: hidden;
}

.homebanner .carousel-inner::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 19%, rgba(0,0,0,1) 100%);
    z-index: 1;
}

.carousel-indicators{
    gap:10px;
}

.carousel-indicators [data-bs-target]{
    width: 100px!important;
}

.innerContent{
    width: 70%;
}


.innerContent img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #0000003b;
}



.innerContent h2{
    font-size: 45px;
    color:#475662;
    font-weight: 800;
}

.innerContent h5{
    font-size: 25px;
    color:#475662;
    font-weight:600;
}

.dateLoctcard{
    background-color: #F1F1F1;
    padding:20px;
    border-radius: 10px;
}

.dateLoctcard h4{
    font-size: 20px;
    font-weight: 600;
    color:#475662;
}

.dateLoctcard p {
    font-size: 13px;
    color:#000;
}

.dateLoctcard p i{
    font-size: 18px;
    color: #475662;
}

.contentSec{
    padding: 25px;
    border-radius: 15px;
    background-color: #F1F1F1;
}


.pdfItem{
    padding: 15px;
    border-radius: 15px;
    background-color: #F1F1F1;
}


.pdfItem img{
    width: 30%;
    height: 60px;
    object-fit: contain;
}

.pdfItem p{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color:#000;
}

.contentImg img{
    width: 50%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.sideBarIcon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.sideBarIcon i{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color:#87C770;
    border: 1px solid #87C770;
    border-radius: 50px;
}

.innerSideBar{
    width: 30%;
}


.innerSideBar h5{
    font-size: 20px;
    color:#707070;
    text-transform: uppercase;
}

.sb_list_card{
    padding: 15px;
    background-color: #F7F7F8;
    border-radius: 5px;
}

.listImg{
    width: 35%;
}

.listImg span{
    font-size: 12px;
}

.listImg h6{
    font-size: 15px;
}

.listImg img{
    width: 100%;
    height: 70px;
    object-fit: contain;
}

.listContent{
    width: 65%;
}

.listContent h6{
    font-size: 20px;
    font-weight: 600;
    color:#000;
}

.listContent p{
    font-size: 15px;
    font-weight: 400;
    color:#000;
}


/* END Inenr Event Slider */




/* END Map Result */

.cardDateTag{
    padding: 5px;
    border-radius: 3px;
    background-color: #67A8BD;
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
}

.cardDetails{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.cardDetails h4{
    font-size: 20px;
    color:#475662;
    font-weight: 600;
}

.cardDetails p{
    display: flex;
    gap:10px;
    color:#475662;
    font-size: 13px;
}


.cardDetails p i{
    color:#67A8BD;
    font-size: 15px;
}

.cardDateTag span{
    font-size: 7px;
    color: #fff;
}

.cardDateTag h5{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.cardDateTag p{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.grdResult{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:20px;
}



.moreResult{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.moreResult .mainBtn{
    width: 250px!important;
}


.gap_custom{
    gap:25px;
}

.upcomingEvenSec{
    background-color: #F8F8F8;
}


.upcomingEvenSec h2{
    text-align: center;
    font-size: 45px;
    color:#475662;
    font-weight: 800;
}





/* END Search Section */




/* Calendar Modal */

.dateModal .modal-dialog{
    max-width: 700px!important;
    border-radius: 15px;
}

.dateModal .modal-content{
    padding:35px;
}


.calSection{
    display: flex;
    gap:50px;
}

.calColSec{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datepicker-days{
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    background-color: #464646;
    width: 100%;
    border-radius: 10px;
}

#datepicker{
    width: 100%;
}

.datepicker-inline{
    width: 100%!important;
}

.table-condensed{
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
    background-color: #464646;
    padding: 0px 15px;
    background-color: #464646;
    width: 100%;
    border-radius: 10px;
}



.table-condensed th:hover{
    background-color: #000!important;
}

.table-condensed .day,
 .table-condensed .month,
 .table-condensed .year,
 .table-condensed .decade,
 .table-condensed .century
 {
    color:#fff;
    font-size: 13px;
}

.table-condensed .day.focused,
 .table-condensed .month.focused,
 .table-condensed .year.focused,
 .table-condensed .decade.focused,
 .table-condensed .century.focused
 {
    color:#000;
    font-size: 13px;
}

.table-condensed .day:hover,
.table-condensed .month:hover,
.table-condensed .year:hover,
.table-condensed .decade:hover,
.table-condensed .century:hover
{
    color:#000;
}

.table-condensed th{
    color:#fff;
    font-size: 15px;
}

.dateModal h3{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color:#67A8BD;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active,
.btn:first-child:hover, :not(.btn-check)+.btn:hover{
    background-color: #87C770!important;
    color:#fff;
}

.btn-secondary.selectBtn{
    background-color: #EEEEEE;
    color:#000;
    border: none;
    padding: 10px 20px;
}

.selectBtn{
    padding:10px 20px;
    color:#fff;
    border-radius: 50px!important;
}

.mainBtn{
    width: 50%;
    border-radius: 5px;
    border: none;
}

.mainBtn.cancelBtn{
    background-color: #EEEEEE;
    color:#000
}


/* END Calendar Modal */





/* Banner Home page */


.contactUs{
    border-radius: 50px;
    width: 250px!important;
}


.carousel-item{
    background-position:center center;
    background-size: cover;
    padding:20px 20px;
    position: relative;
    overflow: hidden;
    height:400px;
}


.overLine{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    content:"";
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,9,121,0) 55%);
    z-index: 0;
    opacity: .8;
}

.sliderContent{
    width:100%;
    display:flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 400px;
}

.bannerSlideContent{
    width:100%;
    max-width:1300px;
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}


.bannerSlideContent h2{
    font-size:55px;
    font-weight: 800;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    line-height: 1em;
}

.bannerSlideContent p{
    font-size:20px;
    font-weight: 400;
    color:#fff;
    text-align: center;
}


/* END Banner Home page */




/* Home Content */

.contentPara i{
    font-size: 50px;
    font-weight: 800;
    color:#475662;
}

.contentPara .secCont{
    font-size: 20px;
    text-align: center;
    color:#475662;
}

.secContent{
    flex: 1;
    display: flex;
    align-items: center;
}

.secContent img {
    width:100%;
    object-fit:contain;
    height: 350px;
}


.ourWayCard{
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius:15px;
    height: 400px;
    display:flex;
    align-items: flex-end;
}


.ourWayCard::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background: rgb(229,0,25);
    background: linear-gradient(180deg, rgba(229,0,25,0.0032387955182072714) 15%, rgba(0,0,0,1) 100%);
    z-index: 0;
}


.cardContent{
    padding:25px;
    position: relative;
    z-index: 1;
}


.cardContent h2{
    color:#87C770;
    font-size: 45px;
    font-weight: 800;
}

.cardContent p{
    color:#fff;
    font-size: 16   px;
    font-weight: 400;
    line-break: 1.2em;
}

.donateBtn{
    /* transition: .4s; */
}



.secContent ul{
    padding: 0px;
}

.secContent ul li{
    display:flex;
    gap:10px;
}

.secContent ul li i{
    color:#87C770;
}

.secContent ul li {
    color:#000;
}


.servicesSec h2{
    text-align: center;
    font-size: 45px;
    color:#87C770;
    font-weight: 800;
}

.servicesSec p {
    text-align: center;
    color:#000;
    font-size: 18px;
}


.secContent.eligibleSecImg img{
    object-position: left;
    height: 380px;
}


.eligibleSec{
    background-position: center center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.eligibleSec::before{
    content: "";
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #475662;
    opacity: .9;
    z-index: 0;
    position: absolute;
}

.eligible_innerSec{
    position: relative;
    z-index: 1;
}


.servCard img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.imgSec{
    width: 30%;
}


.secContent h4 {
    font-size: 35px;
    color:#fff;
}


.servCard.contentPar{
    background-color: #F1F1F1;
    border-radius: 15px;
    width: 70%;
    padding:25px;
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
}


.servCard{
    flex: auto;
}



.servCard h4{
    font-size: 30px;
    color:#475662;
    font-weight: 600;
}



.secContent .carousel-item {
    padding: 0px;
}


.secContent .carousel-item h3{
    font-size: 35px;
    color:#87C770;
    font-weight: 600;
}

.secContent .carousel-item p{
    font-size: 18px;
    color:#fff;
    font-weight: 400;
}


.secContent h2{
    font-size: 40px;
    color:#87C770;
    font-weight: 600;
}

.eventSec h3{
    font-size: 40px;
    color:#87C770;
    font-weight: 600;
}



.volunteerSec{
    background-color: #F1F1F1;
}

.volunteerImgSec{
    overflow-x: scroll;
    display: flex;
    gap:15px;
    width: 100%;
}

.volunteerImgSec img{
    width: 20%;
    height: 260px;
    object-fit: cover;
    border-radius: 15px;
}

.volunteerSec h3{
    text-align: center;
    font-size: 40px;
    color:#87C770;
    font-weight: 600;
}

.volunteerImgSec {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px; /* Adds padding to make space for scrollbar */
  }
  
  /* For WebKit browsers (Chrome, Safari) */
  .volunteerImgSec::-webkit-scrollbar {
    height: 6px; /* Height of the scrollbar */
  }
  
  .volunteerImgSec::-webkit-scrollbar-track {
    background-color: #fff; /* Light background color */
    border-radius: 4px;
  }
  
  .volunteerImgSec::-webkit-scrollbar-thumb {
    background-color: #5ec8d6; /* Color of the scroll indicator */
    border-radius: 4px;
  }
  
  .volunteerImgSec::-webkit-scrollbar-thumb:hover {
    background-color: #3fa8b6; /* Darker color on hover */
  }
  
  /* For Firefox */
  .volunteerImgSec {
    scrollbar-width: thin;
    scrollbar-color: #5ec8d6 #fff;
  }
  

  .volunteerSec .whiteBg{
    background-color: #fff;
    border-radius: 10px;
  }


  .volunteerSec .secContent ul{
    padding: 0px!important;
  }

  .bottomSec .secContent.eligibleSecImg img{
    object-position: bottom center;
  }

  .bottomSec .secContent h3{
    font-size: 45px;
    color:#87C770;
    font-weight: 600;
  }


  .bttmbar{
    background-color: #67A8BD;
  }

  .bttmbar h3{
    font-size: 27px;
    color:#fff;
    font-weight: 600;
    width: 75%;
  }

  .bttmbar .contactUs{
    width: 25%;
  }


/* END Home Content */




/* Footer Section */


.modile{
    display: none;
}


.footerSection{
    padding: 50px 20px 0px;
    background-color: #475662;
    position: relative;
    overflow: hidden;
}


.footerCol{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    row-gap:20px;
}


.footerCol img{
    width: 200px;
}

.footerCol p{
    font-size: 16px;
    color:#fff;
}

.footerCol h5{
    font-size: 20px;
    color:#fff;
    font-weight: 800;
}

.addressList{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}

.addressList p{
    font-size: 16px;
    color:#fff;
    display: flex;
    gap:10px;
}

.addressList p i{
    color:#67A8BD;
}

.ftrCol{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.menuList{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.footerListMenu{
    width: 45%;
}

.footerListMenu h5{
    font-size: 20px;
    color:#fff;
    font-weight: 800;
    border-bottom: 2px solid #67A8BD;
    width: auto;
    margin-bottom: 15px!important;
}

.footerListMenu a{
    font-size: 13px;
    text-decoration: none;
    color:#fff;
    width: 100%;
}

.footerSocialIcon{
    display: flex;
    gap:20px;
}

.footerSocialIcon i{
    font-size: 30px;
    color:#fff;
}

.botFooterSec{
    display: flex;
    justify-content: center;
    padding:15px;
    margin-top:20px;
    border-top: 2px solid #67A8BD;
}

.botFooterSec p{
    text-align: center;
    color:#fff;
    font-size: 15px;
}


/* END Footer Section */